@import "../../styles/App.scss";

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: $color-5;
    padding: 0.5rem 2rem;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 1px 15px rgba(0, 0, 0, 0.2);
    z-index: 1000;

    @media (max-width: 768px) {
        padding: 0.5rem 1rem;
    }

    .logo {

        .title-logo{
            font-size: clamp(1.5rem, 3vw, 2rem);
            font-weight: 700;
            color: $color-2;
            cursor: pointer;
        }
    }
}