@import "../../styles/App.scss";

.navTop{
    display: flex;
    align-items: center;
    gap: 2rem;

    @media (max-width: 768px) {
        gap: 0.5rem;
    }

    a{
        font-family: $font-3;
        color: $color-6;
        text-decoration: none;
        font-size: 1.2rem;
        font-weight: 500;
        transition: all 0.3s ease;

        &:hover{
            color: $color-3;
        }

        &.active{
            color: $color-3;
        }
    }
}